body {
    font-family: 'Kantumruy Pro', sans-serif;
}

:root {
    --bs-primary: #18A558;
    --bs-secoundary: #116530;
    --bs-supporting: #A3EBB1;
    --bs-accent: #F8C519;
    --bs-light-green: #32CA83;
    --bs-primary-hover: #158649;
    --bs-secoundary-hover: #0f5728;
    --bs-supporting-hover: #91d6a0;
    --bs-accent-hover: #e0b018;
    --bs-text-white: #ffffff;
    --bs-text-light: #dddddd;
    --bs-text-black: #000000;
    --text-paragraph : #7F818E;
}
/* text paragraph */
.text-paragraph {
    color: var(--text-paragraph);
}
/* Primary Color: Bright Green */
.text-primary {
    color: var(--bs-primary)!important;
}

.bg-primary {
    background-color: var(--bs-primary)!important;  
}

.border-primary {
    border-color: var(--bs-primary)!important;
}

.btn-primary {
    color: var(--bs-text-white)!important;
    background-color: var(--bs-primary)!important;
    border-color: var(--bs-primary)!important;
}

.btn-primary:hover,
.btn-primary:active {
    color: var(--bs-text-white);
    background-color: var(--bs-primary-hover) !important;
    border-color: var(--bs-primary-hover);
}

.focus-primary {
    box-shadow: 0 0 0 0.2rem rgba(24, 165, 88, 0.5);
}

/* Secondary Color: Dark Green */
.text-secondary {
    color: var(--bs-secondary);
}

.bg-secondary {
    background-color: var(--bs-secondary);
}

.border-secondary {
    border-color: var(--bs-secondary);
}

.btn-secondary {
    color: var(--bs-text-white);
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-secoundary-hover);
    border-color: var(--bs-secoundary-hover);
}

.focus-secondary {
    box-shadow: 0 0 0 0.2rem rgba(17, 101, 48, 0.5);
}

/* Supporting Color: Light Green */
.text-supporting {
    color: var(--bs-supporting);
}

.bg-supporting {
    background-color: var(--bs-supporting);
}

.border-supporting {
    border-color: var(--bs-supporting);
}

.btn-supporting {
    color: var(--bs-text-white);
    background-color: var(--bs-supporting);
    border-color: var(--bs-supporting);
}

.btn-supporting:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-supporting-hover);
    border-color: var(--bs-supporting-hover);
}

.focus-supporting {
    box-shadow: 0 0 0 0.2rem rgba(163, 235, 177, 0.5);
}

/* Accent Color: Orange */
.text-accent {
    color: var(--bs-accent);
}

.bg-accent {
    background-color: var(--bs-accent);
}

.border-accent {
    border-color: var(--bs-accent);
}

.btn-accent {
    color: var(--bs-text-white);
    background-color: var(--bs-accent);
    border-color: var(--bs-accent);
}

.btn-accent:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-accent-hover);
    border-color: var(--bs-accent-hover);
}

.focus-accent {
    box-shadow: 0 0 0 0.2rem rgba(248, 197, 25, 0.5);
}

/* Primary Color: Bright Green */
.outline-primary {
    color: var(--bs-primary);
    background-color: transparent;
    border: 1px solid var(--bs-primary);
}

.outline-primary:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.focus-outline-primary {
    box-shadow: 0 0 0 0.2rem rgba(24, 165, 88, 0.5);
}

/* Secondary Color: Dark Green */
.outline-secondary {
    color: var(--bs-secondary);
    background-color: transparent;
    border: 1px solid var(--bs-secondary);
}

.outline-secondary:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.focus-outline-secondary {
    box-shadow: 0 0 0 0.2rem rgba(17, 101, 48, 0.5);
}

/* Supporting Color: Light Green */
.outline-supporting {
    color: var(--bs-supporting);
    background-color: transparent;
    border: 1px solid var(--bs-supporting);
}

.outline-supporting:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-supporting);
    border-color: var(--bs-supporting);
}

.focus-outline-supporting {
    box-shadow: 0 0 0 0.2rem rgba(163, 235, 177, 0.5);
}

/* Accent Color: Orange */
.outline-accent {
    color: var(--bs-accent);
    background-color: transparent;
    border: 1px solid var(--bs-accent);
}

.outline-accent:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-accent);
    border-color: var(--bs-accent);
}

.focus-outline-accent {
    box-shadow: 0 0 0 0.2rem rgba(248, 197, 25, 0.5);
}

/* LoginView Section */
.frm-login {
    max-width: 75%;
    margin: auto;
}

.frm-login .left-section {
    background-color: var(--bs-primary);
}

.frm-login .left-section h1 {
    font-size: 47px;

}

.frm-login .right-section .form-control {
    border: 1px solid var(--bs-text-light);
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #F6F7F9;
}

.frm-login .left-section img {
    width: 100%;
    max-width: 500px;
}

.frm-login .right-section img {
    width: 100%;
    max-width: 150px;
}

.frm-login .right-section .btn-login {
    background-color: var(--bs-primary);
    color: var(--bs-text-white);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.frm-login .right-section button {
    padding: 10px 37px;
    border-radius: 10px;
    cursor: pointer;
}

.frm-login .right-section button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/*Product detail page  */
.line-detail{
    width: 40px;
    height: 6px;
}
.dot-detail{
    width: 7px;
    height: 6px;
}
.btn-select-main{
    width: 120px;
    height: 45px;
}
.btn-select-qty{
    width: 35px;
    height: 35px;
}
/* search input */
.search-main{
    width: 400px;
}
.search-input::placeholder{
    /* font-weight: bold; */
    color: var(--bs-primary);
}
/* view shop*/
.container-fluid{
    width: 90%!important;
}
.seller-pf{
    width: 100%;
    background: rgb(251,245,255);
    background: linear-gradient(90deg, rgba(251,245,255,1) 0%, rgba(239,246,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 80px;
}
.pf-seller-main{
    width: 150px;
    height: 150px;
    border: 6px solid white;
}
.pf-seller-avatar{
    width: 95%;
    height: 100%;
    object-fit: cover;
}
.btn-share{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.verify-status{
    width: 78px;
    top: 90%;
    left: 50%;
    font-size: 12px;
}
.follower-num{
    width:100%;
    padding:20px 350px;
    background: rgb(251,245,255);
    background: linear-gradient(90deg, rgba(251,245,255,1) 0%, rgba(239,246,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.color-style-1{
    background: linear-gradient(90deg, rgba(50,202,131,1) 0%, rgba(163,235,177,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color-style-2{
    background: linear-gradient(180deg, rgba(50,202,131,1) 0%, rgba(248,197,25,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter-hover{
   display: none;
   width: 100%;
}
.filter-search:hover .filter-hover{
    display: block;
}
.bg-gradient{
    background: rgb(251,245,255);
    background: linear-gradient(90deg, rgba(251,245,255,1) 0%, rgba(239,246,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.dropdown-hover{
   padding: 5px 10px;
    transition: 0.2s;
}
.dropdown-hover:hover{
    background-color: var(--bs-light-green);
    color: var(--bs-text-white);
}
