body {
    font-family: 'Kantumruy Pro', sans-serif;
}

:root {
    --bs-primary: #32CA83;
    --bs-secoundary: #116530;
    --bs-supporting: #A3EBB1;
    --bs-accent: #F8C519;
    --bs-primary-hover: #158649;
    --bs-secoundary-hover: #0f5728;
    --bs-supporting-hover: #91d6a0;
    --bs-accent-hover: #e0b018;
    --bs-text-white: #ffffff;
    --bs-text-light: #dddddd;
    --bs-text-black: #000000;
    --text-paragraph : #7F818E;
}

/* text paragraph */
.text-paragraph {
    color: var(--text-paragraph);
}

/* Primary Color: Bright Green */
.text-primary {
    color: var(--bs-primary)!important;
}

.bg-primary {
    background-color: var(--bs-primary)!important;  
}

.border-primary {
    border-color: var(--bs-primary)!important;
}

.btn-primary {
    color: var(--bs-text-white)!important;
    background-color: var(--bs-primary)!important;
    border-color: var(--bs-primary)!important;
}

.btn-primary:hover,
.btn-primary:active {
    color: var(--bs-text-white);
    background-color: var(--bs-primary-hover) !important;
    border-color: var(--bs-primary-hover);
}

.focus-primary {
    box-shadow: 0 0 0 0.2rem rgba(24, 165, 88, 0.5);
}

/* Secondary Color: Dark Green */
.text-secondary {
    color: var(--bs-secoundary)!important;
}

.bg-secondary {
    background-color: var(--bs-secondary);
}

.border-secondary {
    border-color: var(--bs-secondary);
}

.btn-secondary {
    color: var(--bs-text-white);
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-secoundary-hover);
    border-color: var(--bs-secoundary-hover);
}

.focus-secondary {
    box-shadow: 0 0 0 0.2rem rgba(17, 101, 48, 0.5);
}

/* Supporting Color: Light Green */
.text-supporting {
    color: var(--bs-supporting);
}

.bg-supporting {
    background-color: var(--bs-supporting);
}

.border-supporting {
    border-color: var(--bs-supporting);
}

.btn-supporting {
    color: var(--bs-text-white);
    background-color: var(--bs-supporting);
    border-color: var(--bs-supporting);
}

.btn-supporting:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-supporting-hover);
    border-color: var(--bs-supporting-hover);
}

.focus-supporting {
    box-shadow: 0 0 0 0.2rem rgba(163, 235, 177, 0.5);
}

/* Accent Color: Orange */
.text-accent {
    color: var(--bs-accent);
}

.bg-accent {
    background-color: var(--bs-accent);
}

.border-accent {
    border-color: var(--bs-accent);
}

.btn-accent {
    color: var(--bs-text-white);
    background-color: var(--bs-accent);
    border-color: var(--bs-accent);
}

.btn-accent:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-accent-hover);
    border-color: var(--bs-accent-hover);
}

.focus-accent {
    box-shadow: 0 0 0 0.2rem rgba(248, 197, 25, 0.5);
}

/* Primary Color: Bright Green */
.outline-primary {
    color: var(--bs-primary);
    background-color: transparent;
    border: 1px solid var(--bs-primary);
}

.outline-primary:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.focus-outline-primary {
    box-shadow: 0 0 0 0.2rem rgba(24, 165, 88, 0.5);
}

/* Secondary Color: Dark Green */
.outline-secondary {
    color: var(--bs-secondary);
    background-color: transparent;
    border: 1px solid var(--bs-secondary);
}

.outline-secondary:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.focus-outline-secondary {
    box-shadow: 0 0 0 0.2rem rgba(17, 101, 48, 0.5);
}

/* Supporting Color: Light Green */
.outline-supporting {
    color: var(--bs-supporting);
    background-color: transparent;
    border: 1px solid var(--bs-supporting);
}

.outline-supporting:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-supporting);
    border-color: var(--bs-supporting);
}

.focus-outline-supporting {
    box-shadow: 0 0 0 0.2rem rgba(163, 235, 177, 0.5);
}

/* Accent Color: Orange */
.outline-accent {
    color: var(--bs-accent);
    background-color: transparent;
    border: 1px solid var(--bs-accent);
}

.outline-accent:hover {
    color: var(--bs-text-white);
    background-color: var(--bs-accent);
    border-color: var(--bs-accent);
}

.focus-outline-accent {
    box-shadow: 0 0 0 0.2rem rgba(248, 197, 25, 0.5);
}

.frm-auth {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.frm-auth .left-section {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: var(--bs-primary);
  padding: 40px 20px;
  text-align: center;
}

.frm-auth .left-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.frm-auth .left-section img {
  width: 100%;
  max-width: 546px;
  height: auto;
  margin-top: 20px;
  object-fit: cover;
}

.frm-auth .right-section {
  background-color: #ffffff;
  padding: 40px 30px;
}

.frm-auth .right-section img {
  width: 267px;
  height: 63px;
  margin-bottom: 20px;
  object-fit: cover;
}

.frm-auth .right-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.frm-auth .right-section p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #6c757d;
}

.frm-auth .right-section .form-control {
  border: 1px solid #ced4da;
  padding: 12px 15px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 5px;
}


.frm-auth .password-toggle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.frm-auth .right-section .form-check {
  margin-bottom: 15px;
}

.frm-auth .right-section .btn-login {
  background-color: var(--bs-primary);
  color: var(--bs-text-white);
  border: none;
  padding: 12px 0;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.frm-auth .right-section a {
  color: #6c757d;
  text-decoration: none;
  font-size: 14px;
}

.frm-auth .right-section a:hover {
  text-decoration: underline;
}

.frm-auth .right-section p {
  font-size: 16px;
  margin-top: 20px;
}

.frm-auth  input.is-invalid {
  background-image: none !important;
}

.frm-auth  .form-control.is-invalid {
margin: -4px;
  border-color: #dc3545 !important;
}

.frm-auth .invalid-feedback {
  color: #dc3545 !important;
}

.social-buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
  }
  
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
    padding: 10px 20px;
    width: 200px; 
    height: 50px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .social-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .social-button img {
    margin-top: 18px;
    width: 24px!important; 
    height: 24px!important; 
    object-fit: cover;
  }
  .text-rul {
    display: inline-block;
    width: 90px;
    height: 2px;
    background-color:var(--bs-primary); 
    margin-right: 10px; 
    vertical-align: middle;
}

.frm-login .right-section button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/*Product detail page start nita */
.line-detail{
    width: 40px;
    height: 6px;
}
.dot-detail{
    width: 7px;
    height: 6px;
}
.btn-select-main{
    width: 120px;
    height: 45px;
}
.btn-select-qty{
    width: 35px;
    height: 35px;
}
.visa-card{
    width: 60px;
}
.visa-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mynav-tabs {
    border: none !important;
}
.mynav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--bs-primary);
    background-color: transparent;
    border: none;
}
.mynav-tabs .nav-link{
    color: #000000;
    font-weight: bold;
}
.pf-feedback-detail{
    width: 100px;
}
.pf-feedback-detail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* search input */
.search-main{
    width: 400px;
}
.search-input::placeholder{
    color: var(--bs-primary);
}
/* start: view shop*/
.container-fluid{
    width: 90%!important;
}
.seller-pf{
    background: rgb(251,245,255);
    background: linear-gradient(90deg, rgba(251,245,255,1) 0%, rgba(239,246,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 80px;
}
.pf-seller-main{
    width: 150px;
    height: 150px;
    border: 6px solid white;
}
.pf-seller-avatar{
    width: 95%;
    height: 100%;
    object-fit: cover;
}
.btn-share{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.verify-status{
    width: 78px;
    top: 90%;
    left: 50%;
    font-size: 12px;
}
.follower-num{
    background: rgb(251,245,255);
    background: linear-gradient(90deg, rgba(251,245,255,1) 0%, rgba(239,246,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.color-style-1{
    background: linear-gradient(90deg, rgba(50,202,131,1) 0%, rgba(163,235,177,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color-style-2{
    background: linear-gradient(180deg, rgba(50,202,131,1) 0%, rgba(248,197,25,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.filter-hover{
   display: none;
   width: 100%;
}
.filter-search:hover .filter-hover{
    display: block;
}
.bg-gradient{
    background: rgb(251,245,255);
    background: linear-gradient(90deg, rgba(251,245,255,1) 0%, rgba(239,246,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.dropdown-hover{
   padding: 5px 10px;
    transition: 0.2s;
}
.dropdown-hover:hover{
    background-color: var(--bs-primary-hover);
    color: var(--bs-text-white);
}
.mynav-pills .nav-link.active, .nav-pills .show>.nav-link 
{
    border: 0;
    background-color: var(--bs-primary);
}
.mynav-pills .nav-link{
    color: black;
    border: 1px solid #AEB3B8;
}
.save-fav{
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: 0.2s;
}
.card-product{
    /* height: 400px; */
    transition: 0.2s;
}
.card-product:hover{
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-product:hover .save-fav{
    opacity: 1;
    margin-top: 10px;
}
.card-product-discount{
    border-radius:5px 15px 15px 5px ;
}
.card-img{
    width: 100%;
    height: 280px;
}
.mycard-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end : viewshop*/
/* start allProduct view */
.bg-allProduct{
    /* background-color: pink; */
    background-image: url(../../assets/images/bg_allProducts.png); 
    background-size: cover; 
    width:100%; 
    height: 400px;
    /* filter: blur(2px); */
    /* opacity: 0.6; */
}
.myform-check .form-check-input:checked{
    background-color: var(--bs-primary)!important;
    border-color: var(--bs-primary)!important;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

